inbox-sample-task {
    background: white;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    font-size: 13px;
    line-height: 28px;
    padding: 6px 0;
    position: relative;
    white-space: nowrap;

    & .avatar {
        line-height: 0;
        padding: 0 22px;
    }

    & .avatar__img {
        border-radius: 50%;
    }

    & .avatar__check, & .avatar__uncheck {
        display: none;
        padding: 2px;
    }

    & .participants {
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 184px;
        white-space: nowrap;
        width: 184px;
    }

    & .text {
        display: flex;
        flex-wrap: nowrap;
        flex-grow: 1;
        overflow: hidden;
        padding: 0 8px 0 16px;
    }

    & .text__subject {
        white-space: nowrap;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    & .text__review {
        &::before {
            content: '\2013';
            display: inline-block;
            padding: 0 8px;
        }

        color: #757575;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    & .manage {
        display: none;
        margin: 0 16px 0 8px;
    }

    & .manage__icon {
        display: inline-block;
        line-height: 0;
        opacity: .6;
        vertical-align: top;

        &:hover {
            opacity: 1;
        }
    }

    &.hidden {
        display: none;
    }

    &.checked {
        background: #edf4fd;

        & .avatar__img,
        & .avatar__check {
            display: none;
        }

        & .avatar__uncheck {
            display: block;
        }
    }

    &:not(.checked) {
        & .avatar:hover {
            & .avatar__img,
            & .avatar__uncheck {
                display: none;
            }

            & .avatar__check {
                display: block;
            }
        }
    }

    &:hover {
        & .manage {
            display: block;
        }
    }
}
