inbox-sample-messages {
    display: block;

    & .header {
        box-sizing: border-box;
        color: #333;
        cursor: pointer;
        font-size: 16px;
        font-weight: 300;
        line-height: 60px;
        padding: 0 20px;
    }
}
