inbox-sample-nav {
    box-sizing: border-box;
    padding: 0 8px;
    width: 216px;
    transition: transform .25s ease-in-out, opacity .15s ease-in-out;
    will-change: transform, opacity;

    &.hidden {
        opacity: 0;
        transform: translateX(-100%);
    }
}
